
{% load static %} 
   <head>
      <meta charset="UTF-8">
      <title> {% block title %} {% endblock title %}</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
	<link rel="stylesheet" href="{% static 'EduAdmin/css/vendors_css.css' %}">
	<link rel="stylesheet" href="{% static 'EduAdmin/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'EduAdmin/css/font-awesome.min.css' %}">
   <link rel="stylesheet"  href="{% static 'EduAdmin/css/font-awesome.css' %}">
	  
	<!-- Style-->    
	<link rel="stylesheet" href="{% static 'EduAdmin/css/style.css' %}">

     
   </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed rtl">
{% block content %}
{% block auth %}

{% endblock auth %}
{% endblock content %}



      <!--main js--> 
	<script src="{% static 'EduAdmin/js/vendors.min.js' %}"></script>
	<!-- EduAdmin App -->
	<script src="{% static 'EduAdmin/js/template.js' %}"></script>	
   </body>
</html>